{% extends 'base.html' %}



  {% block css %}
    <link rel="stylesheet" href="/assets/css/listr.pack.css" />

  {% endblock %}


  {% block js %}
    <!--<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-53539506-1"]);_gaq.push(["_trackPageview"]);(function(){var ga=document.createElement("script");ga.type="text/javascript";ga.async=true;ga.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga,s)})();
    </script>-->



  {% endblock %}


  {% block main %}

  <style type="text/css">

.highlight { 
  background-color: rgba(204,230,250,0.5) ! important;
}
</style>




  <div class="container">
    <ol class="breadcrumb" dir="ltr">
      <li><a href="/demo/Bootstrap-Listr-2"><i class="fa fa-home fa-lg fa-fw"></i> </a></li>
    </ol>

    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3 col-xs-offset-6 col-sm-offset-8 col-md-offset-9">
          <div class="form-group has-feedback">
            <label class="control-label sr-only" for="search">Search</label>
            <input type="text" class="form-control" id="search" placeholder="Search">
          <i class="fa fa-search form-control-feedback"></i>
         </div>
      </div>
    </div>


    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Download</a></li>
      <li role="presentation"><a href="#">Delete</a></li>
    </ul>


    <div class="table-responsive">
      <table id="bs-table" class="table table-hover">

        <thead>
          <tr>
            <th class="text-right" data-sort="int">#</th>
            <th class="col-sm-8 text-left" data-sort="string">Name</th>
            <th class="col-sm-2 text-right" data-sort="int">Size</th>
            <th class="col-sm-2 text-right" data-sort="int">Modified</th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <td colspan="4">
              <small class="pull-left text-muted" dir="ltr">3 folders and 15 files, 17.62 MB in total</small>
              <!--<a class="pull-right small text-muted" href="https://github.com/idleberg/Bootstrap-Listr" title="Bootstrap Listr on GitHub" target="_blank">Fork me on GitHub</a> -->
            </td>
          </tr>
        </tfoot>


        <tbody id="file-list">
        {% for file in data.FileStatuses.FileStatus %}
          <tr>
            <td class="text-muted text-right" data-sort-value="{{loop.index}}">{{loop.index}}</td>            
            <td class="text-left" data-sort-value="{{file.pathSuffix}}">
              <i {% if file.type == 'DIRECTORY' %} class="fa fa-folder" {% else %} class="fa fa-file-text-o" {% endif %}>
              </i>&nbsp;
              <a href="{{file.pathSuffix}}">
                {% if file.type == 'DIRECTORY' %}
                  <strong>{{file.pathSuffix}}</strong>
                {% else %}
                  {{file.pathSuffix}}
                {% endif %}
              </a>
            </td>
            <td class="text-right" data-sort-value="0">&mdash;</td>
            <td class="text-right" data-sort-value="{{file.modificationTime}}" title="2016-04-15 23:43:56">1 month ago</td>
          </tr>
        {% endfor %}
        </tbody>       


      </table>




    </div>
    <div class="modal fade" id="viewer-modal" tabindex="-1" role="dialog" aria-labelledby="file-name" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-left" id="file-name">&nbsp;</h4>
            <small class="text-muted" id="file-meta"></small>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <div class="pull-left">
              <button type="button" class="btn btn-link highlight hidden">Apply syntax highlighting</button>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <div class="btn-group">
                <a class="btn btn-primary fullview" data-button="Open" role="button">
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" class="email-link"><i class="fa fa-envelope fa-fw"></i> Email</a></li>
                  <li role="presentation"><a role="menuitem" class="facebook-link"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
                  <li role="presentation"><a role="menuitem" class="google-link"><i class="fa fa-google-plus fa-fw"></i> Google+</a></li>
                  <li role="presentation"><a role="menuitem" class="twitter-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $("#file-list tr").click(function(event) {
      var selected = $(this).hasClass("highlight");
      $("#file-list tr").removeClass("highlight");
      if(!selected)
        $(this).addClass("highlight");
      event.stopPropagation();
    });

    $(document).click(function() {
      $("#file-list tr").removeClass("highlight");
    });

  </script>



  {% endblock %}
 

