{% extends 'base.html' %}



  {% block css %}
    <link rel="stylesheet" href="/assets/css/listr.pack.css" />

  {% endblock %}


  {% block js %}
    <!--<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-53539506-1"]);_gaq.push(["_trackPageview"]);(function(){var ga=document.createElement("script");ga.type="text/javascript";ga.async=true;ga.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga,s)})();
    </script>-->

  {% endblock %}


  {% block main %}

   <style type="text/css">

  input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

</style>




  <style type="text/css">

.target_file { 
  background-color: rgba(204,230,250,0.5) ! important;
}
</style>

  <div class="container">
    <ol class="breadcrumb" dir="ltr">

      <li>
        <a href="/home/"><i class="fa fa-home fa-lg fa-fw"></i></a>
      </li>

    {% block breadcrumbs %}

    {% for b in breadcrumbs %}
      <li>
        <a href="{{b.url}}">{{b.name}}<i class="fa fa-lg"></i></a>
      </li>
    {% endfor %}

    {% endblock %}

    </ol>

    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3 col-xs-offset-6 col-sm-offset-8 col-md-offset-9">
          <div class="form-group has-feedback">
         
            <ul class="nav nav-pills">
              <li role="presentation">

                <label class="control-label sr-only" for="search">Search</label>
                <input type="text" class="form-control" id="search" placeholder="Search">
                <i class="fa fa-search form-control-feedback"></i>

              </li>




              



              <li role="presentation">

                <!--<a href="#" onclick="updateLink(this, 'DELETE');">
                  <button >上传文件</button>
                </a>-->


              <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Upload
              </label>
              <input id="file-upload" type="file"/>

              </li>

              <li role="presentation">


              <label for="" class="custom-file-upload">
                <i class="fa fa-folder-o" aria-hidden="true"></i> MKDir
              </label>
                <!--<a href="#" onclick="updateLink(this, 'DELETE');">
                  <button>创建目录</button>
                </a>-->


              </li>

            </ul>
         </div>
      </div>
    </div>

    <ul class="nav nav-pills">
      <li role="presentation">
        <a href="#" onclick="updateLink(this, 'DOWNLOAD');">
          <button>Download</button>
        </a>
      </li>
      <li role="presentation">
        <a href="#" onclick="updateLink(this, 'DELETE');">
          <button>Delete</button>
        </a>
      </li>
      <li role="presentation">
        <a href="#" onclick="updateLink(this, 'RENAME');">
          <button>Rename</button>
        </a>
      </li>
    </ul>

    <div class="table-responsive">
      <table id="bs-table" class="table table-hover">

        <thead>
          <tr>
            <th class="text-right" data-sort="int">#</th>
            <th class="col-sm-8 text-left" data-sort="string">Name</th>
            <th class="col-sm-2 text-right" data-sort="int">Size</th>
            <th class="col-sm-2 text-right" data-sort="int">Modified</th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <td colspan="4">
              <!--<small class="pull-left text-muted" dir="ltr">3 folders and 15 files, 17.62 MB in total</small>-->
              <!--<a class="pull-right small text-muted" href="https://github.com/idleberg/Bootstrap-Listr" title="Bootstrap Listr on GitHub" target="_blank">Fork me on GitHub</a> -->
            </td>
          </tr>
        </tfoot>


        <tbody id="file_list">
        {% for file in data.FileStatuses.FileStatus %}
          <tr>
            <td class="text-muted text-right" data-sort-value="{{loop.index}}">{{loop.index}}</td>            
            <td class="text-left" data-sort-value="{{file.pathSuffix}}">
              <i {% if file.type == 'DIRECTORY' %} class="fa fa-folder" {% else %} class="fa fa-file-text-o" {% endif %}>
              </i>&nbsp;
              {% if file.type == 'DIRECTORY' %}
                <a href="{{file.pathSuffix}}\">
                  <strong>{{file.pathSuffix}}</strong>
              {% else %}
                <a href="{{file.pathSuffix}}" onclick="return false;">
                  {{file.pathSuffix}}
              {% endif %}
                </a>
            </td>
            <td class="text-right" data-sort-value="0">&mdash;</td>
            <td class="text-right" data-sort-value="{{file.modificationTime}}" title="2016-04-15 23:43:56">1 month ago</td>
          </tr>
        {% endfor %}
        </tbody>       


      </table>




    </div>
    <div class="modal fade" id="viewer-modal" tabindex="-1" role="dialog" aria-labelledby="file-name" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-left" id="file-name">&nbsp;</h4>
            <small class="text-muted" id="file-meta"></small>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <div class="pull-left">
              <button type="button" class="btn btn-link highlight hidden">Apply syntax highlighting</button>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <div class="btn-group">
                <a class="btn btn-primary fullview" data-button="Open" role="button">
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" class="email-link"><i class="fa fa-envelope fa-fw"></i> Email</a></li>
                  <li role="presentation"><a role="menuitem" class="facebook-link"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
                  <li role="presentation"><a role="menuitem" class="google-link"><i class="fa fa-google-plus fa-fw"></i> Google+</a></li>
                  <li role="presentation"><a role="menuitem" class="twitter-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<script type="text/javascript">
    $('#file_list tr').click(function(event) {
      var selected = $(this).hasClass('target_file');
      $('#file_list tr').removeClass('target_file');
      if(!selected) {
        $(this).addClass('target_file');
      }
      event.stopPropagation();
    });
    $(document).click(function() {
      $('#file_list tr').removeClass('target_file');
    });
    function getTargetFileName() {
      var t = document.getElementsByClassName('target_file')[0];
      t = t.getElementsByClassName('text-left')[0].getElementsByTagName('a')[0];
      var fileName = t.getAttribute('href');
      return fileName;
    }
    function updateLink(a, op) {
      var path = window.location.pathname.slice(5, -1) + '/' + getTargetFileName();
      a.href = '/dbox/v1' + path + '?op=' + op;
      //alert(a.href);
    }

    //$('input[type=text]').click(function() {
    //  $('input[type=file]').trigger('click');
    //});

    $('input[type=file]').change(function() {
      //$('input[type=text]').val($(this).val());
      var localfile = $(this).val();
      var path = window.location.pathname.slice(5, -1) + '/';
      var reqURL = '/dbox/v1' + path + '?op=UPLOAD';
      $.ajax({
        type: 'PUT',
        url: reqURL,
        success: function(response) {

          var reqURL = response;
          console.log(reqURL);

          /*$.ajax({
            type: 'PUT',
            url: reqURL,
            data: localfile,
            dataType: 'file',

            success: function(response) {
              alert('haha')
            },
            error: function(e) {
              alert("error: " + e);
            }
          }); */

        },
        error: function(e) {
          // alert("error: " + e);
        }
      });



    });
  </script>

 
  {% endblock %}
 

