{% extends 'base.html' %}

  {% block css %}
    <link href="/assets/css/index.css" rel="stylesheet">
  {% endblock %}

  {% block main %}
    <div class="container">
      <div class="card card-container">
        <h3 class="dark-grey">Join Doopbox</h3></br>
          <form class="form-signin" action="/signup/" method="post">
            <div class="form-group col-lg-12">
			  <label>Username</label>
			  <input type="" name="username" class="form-control" id="" value="" placeholder="Username">
			</div>
			<div class="form-group col-lg-12">
		      <label>Password</label>
		      <input type="password" name="password" class="form-control" id="" value="" placeholder="Password">
		    </div>
		    <div class="form-group col-lg-12">
		      <label>Repeat Password</label>	
			  <input type="password" name="repassword" class="form-control" id="" value="" placeholder="Password">
			</div>
			<div class="form-group col-lg-12">
		      <label>Email Address</label>	
			  <input type="" name="email" class="form-control" id="" value="" placeholder="Email Address">
			</div>

			<div class="form-group col-lg-12">

			  <button class="btn btn-primary" type="submit">Create an account</button>
			</div>

          </form>
        </div>
       </div>
    </div>
  {% endblock %}


